
.form-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

form{
    margin-top: 30px;
    width: 100%;
}

mat-form-field{
    width: 60%;
}

mat-card{
    text-align: center;
    width: 400px;
    height: 275px;
    margin: 50px auto;
    zoom: 1.2;
}

mat-card-title{
    font-size: 30px;
}

mat-card-content{
    height: 150px;
}

.container{
    height:100%;
    width:100%;
    display: flex; 
    align-items: center; /*vertical*/ 
    background-color: #f6f6f6;
}

.forgotPassword{
    margin-top: 15px;
    display: block;
    cursor:pointer;
    text-decoration: none;
    color: inherit;
}

.sign-in{
    zoom: 1.1;
    width: 100px;
    font-size: 15px;
}