<div>
    <div class="search">
        <mat-form-field floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button *ngIf="searchKey" (click)="clear()" mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" class="concern-btn" (click)="openDialog()">
        Add Concern
    </button>
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="course">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Course</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.course}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="hrs">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Hours</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.hrs}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>