.wrapper{
    width: 600px;
    height: fit-content;
}

.subtitle{
    font-size: 20px;
}

.actions{
    width: 100%;
    display: flex;;
    justify-content: center;
}

.message{
    font-size: 18px;
    margin-left: 20px;
}

.heading{
    font-size: 18px;
    color: black;
}

#dismiss{
    margin-left: 400px;
    margin-right: 30px;
}

#delete{
    margin-left: 400px;
    zoom: 1.2;
}