<mat-tab-group>
    <mat-tab label="Course Info Spreadsheet">
        <app-upload-course-spreadsheet></app-upload-course-spreadsheet>
    </mat-tab>
    <mat-tab label="Applicant Spreadsheet">
        <app-upload-applicant-spreadsheet></app-upload-applicant-spreadsheet>
    </mat-tab>
    <mat-tab label="Instructor Spreadsheet">
        <app-upload-instructor-spreadsheet></app-upload-instructor-spreadsheet>
    </mat-tab>
    <mat-tab label="Course Setup Spreadsheet">
        <app-upload-setup-spreadsheet></app-upload-setup-spreadsheet>
    </mat-tab>
</mat-tab-group>